html, body {
    height:100%;
}

footer {
    bottom:0px;
    width:100%;
}

/* Primary colour */
.bg-primary {
    background-color: #cc2936 !important;
}

/* Secondary color */
.bg-secondary {
    background-color: #08415c !important;
}

.imageLink:hover{
    color: #000;
    opacity: 0.5;
}