html, body {
    height:100%;
    background-image:url("../images/wallpaper.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

footer {
    bottom:0px;
    width:100%;
}

/* Primary colour */
.bg-primary {
    background-color: #cc2936 !important;
}

/* Secondary color */
.bg-secondary {
    background-color: rgba(255,255,255,0.8) !important;
}

.imageLink, .imageLink:link, .imageLink:visited, .imageLink:active, .imageLink:hover {
    text-decoration: none;
}

.imageLink:hover{
    color: #000;
    opacity: 0.5;
}